<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.e1c.g5.v8.dt.check.checks">
      <category
            category="catalina"
            description="Catalina MD checks"
            id="catalina.md"
            title="Catalina MD checks">
      </category>
      <check
            category="catalina.md"
            class="catalina.internal.md.ExecutableExtensionFactory:catalina.md.check.MdObjectExchangePlanCheck">
      </check>
   </extension>

</plugin>
